$bgDark: #a56161;
$padding: 20px;
$font-siz: 30px;
// @import 'reset.scss';
@mixin style{
    color: green;
    font-size: 40px;
    font-weight: bold;
}

p{
    @include style;
}

.card-product{
    background: $bgDark;
    padding: $padding;
    font-size: $font-siz;
    img{
        width: 300px;
        height: auto;
    }

    &__desc{
        font-size: 20px;
        color: white;
    }
}

.box{
    width: 173/2 + px;
    height: 100px+ 5px - 2px;
    margin: 100px;
}